* {
    margin: 0;
    font-family: 'Slabo';
    cursor: default;
}

body {
    overflow-x: hidden;
    width: 100vw;
}

main {
    min-height: 100vh;
    background-color: rgb(202, 194, 194);
}

h2 {
    font-size: 2vw;
    font-weight: normal;
    padding-left: 1vw;
}

/* -----------------------Header Content-------------------------------------- */
header{
    height: 18vh;
    background-color: rgb(40, 40, 52);
    color: white;
}

.nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 12vh;
}

.nav-icons {
    padding: 10px;
}

.login-container {
    margin-left: 90vw;
    margin-bottom: 10px;
}

.login-image {
    margin-bottom: -10px;
}

.login-text {
    padding: 0px 0px 10px 10px;
}

.logo-container {
    margin-left: 60vw;
}

.logo-text {
    font-size: 3vw;
}

.logo {
    margin-bottom: -12px;
}

/* ---------------------------------Grid Styling------------------------------ */
.city-grid-container {
    display: grid;
    max-width: 100vw;
    height: 144vh;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1.5vw;
}

.grid {
    background-color: rgba(251, 238, 238, 0.823);
}

.city-text-container {
    height: 28vh;
    width: 23vw;
    padding-left: 1vw;
    margin-top: -2.25vw;
}

.city-info {
    display: flex;
    flex-direction: column;
}

.city-name {
    padding-top: 2vw;
    font-size: 2vw;
}

.city-awards {
    font-style: italic;
    font-size: 1.5vw;
}

.like-save-share,
.icon {
    font-size: 1.9vw;
    padding: 2vw .25vw 0vw .25vw;
    margin-top: -1vw;
}

.city-link {
    background-color: rgb(185, 185, 240);
    height: 7vh;
    width: 21vw;
    max-width: 300px;
    padding-top: 1vw; 
    margin: .5vw 0vw 0vw 0vw; 
}

.image {
    width: 100%;
    height: 100%;
}

.image-container {
    max-height: 350px;
    height: 34vh;
    max-width: 360px;
    width: 24.25vw;
}


/* ---------------------------------Hover Effects------------------------------ */
.button:hover,
.login-text:hover,
.logo-text:hover,
.logo:hover {
    opacity: .5;
}

.city-name:hover,
.city-link:hover {
    text-decoration: underline;
}

.image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.hover-box {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center
}

.image-container:hover .image {
    opacity: .3;
}

.image-container:hover .hover-box {
    opacity: 1;
}

.hover-text {
    background-color: rgb(40, 40, 52);;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

