* {
    margin: 0;
    font-family: 'Slabo';
    cursor: default;
}

main {
    min-height: 100%;
    width: 100vw;
    background-color: rgb(202, 194, 194);
}

h2 {
    font-size: 2vw;
    font-weight: normal;
}

/* -----------------------Header Content-------------------------------------- */
header{
    height: 18vh;
    background-color: rgb(40, 40, 52);
    color: white;
}

.nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 12vh;
}

.nav-icons {
    padding: 10px;
}

.login-container {
    margin-left: 90vw;
    margin-bottom: 10px;
}

.login-image {
    margin-bottom: -10px;
}

.login-text {
    padding: 0px 0px 10px 10px;
}

.logo-container {
    margin-left: 60vw;
}

.logo-text {
    font-size: 3vw;
}

.logo {
    margin-bottom: -12px;
}

/* ---------------------------------Grid Styling------------------------------ */
.city-grid-container {
    display: grid;
    max-width: 100vw;
    height: 144vh;
    grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: 500px 500px;
    grid-gap: 15px;
    border: 2px solid red;
}

.grid {
    background-color: rgba(251, 238, 238, 0.823);
}

.city-text-container {
    border: 2px solid orange;
    height: 35vh;
    width: 23vw;
    padding-left: 1vw;
    border: 2px solid purple;
}

.city-info {
    display: flex;
    flex-direction: column;
}

.city-name {
    font-size: 2vw;
}

.city-awards {
    font-style: italic;
    font-size: 1.5vw;
}

.like-save-share,
.icon {
    font-size: 1.9vw;
    padding: 2vw .25vw 0vw .25vw;
}

.city-link {
    background-color: rgb(185, 185, 240);
    height: 8vh;
    width: 20vw;
    padding-top: 2vw; 
    margin: .5vw 0vw .5vw 0vw; 
}

/* ---------------------------------Hover Effects------------------------------ */
.button:hover,
.login-text:hover,
.logo-text:hover,
.logo:hover {
    opacity: .5;
}

.city-name:hover,
.city-link:hover {
    text-decoration: underline;
}

.image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.hover-box {
    transition: .5s ease;
    opacity: 0;
    position: fixed;
    top: 40%;
    left: 12%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center
}

.image-container:hover .image {
    opacity: .3;
}

.image-container:hover .hover-box {
    opacity: 1;
}

.hover-text {
    background-color: rgb(40, 40, 52);;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

